# macOS system files
.DS_Store

# -----------------------------
# Environment files
# -----------------------------

**/opencode.json

# -----------------------------
# Files
# -----------------------------
**/README_UPDATED.md
**/AGENTS-old.md