# macOS system files
.DS_Store

# -----------------------------
# Environment files
# -----------------------------

# -----------------------------
# Files
# -----------------------------
**/git.nix
**/users.nix